Rodrigo B. de Oliveira <rodrigo@gradle.com> <rbo@acm.org>
Sebastian Schuberth <sschuberth@gmail.com> <sschuberth@users.noreply.github.com>
Stefan Oehme <stefan@gradle.com> <st.oehme@gmail.com>
Sterling Greene <sterling@gradle.com> <big-guy@users.noreply.github.com>
Sterling Greene <sterling@gradle.com> <sterling.greene@gmail.com>
Szczepan Faber <szczepiq@gmail.com>
Szczepan Faber <szczepiq@gmail.com> <szczepiq@builds.gradle.org>
Szczepan Faber <szczepiq@gmail.com> <Administrator@szczepan-66b9bf.(none)>
Tom Eyckmans <teyckmans@gmail.com>
